:root {
  --primary-color: blueviolet;
  --secondary-color: cornflowerblue;
  --default-shadow: 5px 5px 50px 0 rgba(0, 0, 0, 0.2);
}

a {
  color: var(--primary-color);
}

button {
  border: var(--primary-color) 2px solid;
  background-color: transparent;
  color: var(--primary-color);
}

.card {
  --secondary-color: red;
  --line-height: 40px;
}

.card__title {
  color: var(--primary-color);
}

.card__description {
  color: var(--secondary-color);
  line-height: var(--line-height);
}

p {
  color: var(--secondary-color);
  line-height: var(--line-height, 100px);
}
