* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  border: 2px solid lightgray;
  padding: 0.8em;
  margin-bottom: 0.4em;
  transition: all 0.2s ease;
}

.popup {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: white;
  padding: 1em;
  box-shadow: 5px 5px 30px 0 rgba(0, 0, 0, 0.4);
  width: 40vw;
  border-radius: 0.8em;
  border: 2px solid lightgray;
}

.popup__close-button {
  position: absolute;
  right: 0;
  top: 0;
}
