@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 1em;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: red;
}

.card {
  border: 1px solid lightgray;
  border-radius: 1.2em;
  padding: 1.2em;
  margin: 1em;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.card__title {
  font-size: 1.4em;
  border-bottom: 1px solid lightgray;
}

.card__description {
  line-height: 1.4;
}

.card__button {
  background-color: transparent;
  padding: 0.8em 1.8em;
  border: 2px solid gray;
  border-radius: 1.2em;
  cursor: pointer;
  font-weight: 600;
}

.card__button_submit {
  color: green;
  border-color: green;
}

.card__button_decline {
  color: red;
  border-color: red;
}

.block {
  border: 2px solid red;
  height: 100px;
  margin-bottom: 10px;
}

.em {
  font-size: 2em;
}

.btn {
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn-em {
  font-size: 10px;
  padding: 0.8em 1.2em;
  border-radius: 1.4em;
}

.btn-rem {
  border-radius: 1.4rem;
  height: 1rem;
}

.rem {
  height: 150vh;
  width: 50vw;
  border: 1px solid red;
}

.rem div {
  width: 50%;
  height: 50%;
  border: 1px solid blue;
}
