@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.card__header-image {
  background-image: url("./img/bg-image.jpeg");
  background-position: center;
  height: 60%;
  transition: all 0.2s ease;
}

.cards-container {
  padding: 1em;
}
.card__subtitle {
  position: absolute;
  font-size: 0.8em;
  font-weight: 300;
  color: gray;
}

.card__title {
  position: absolute;
  font-size: 1.2em;
  transition: all 0.2s ease;
}
.card {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 15em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .card__header-image {
  height: 100%;
  border-bottom: 3px solid orange;
}
.card:hover .card__title {
  top: 10%;
}

.card__description {
  max-height: 3lh;
  overflow: hidden;
}
