.card {
  display: inline-block;
  border: 2px solid lightgray;
  font-weight: 500;
  padding: 1.2em;
  margin: 1em;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: min-content;
  --primary-color: red;

  & .card__description {
    color: var(--primary-color);
    padding: 1em;
  }
}
